@page "/"
@using NightPlanner.Blazor.Presentation.ApiClients.Plans
@using NightPlanner.Blazor.Presentation.ApiServices.Contracts
@using NightPlanner.Blazor.Presentation.Models.Plans
@using NightPlanner.Blazor.Presentation.Components.Plans.Modals
@using NightPlanner.Blazor.Presentation.Components.Plans.Lists
@inject ITelegramAuthenticationService TelegramAuthenticationService
@inject IPlansApi PlansApi
<PageTitle>Home</PageTitle>

<div class="w-100 px-1">
        <div>
            <PlansList Plans="_plans" ReloadPlansCallback="LoadPlans" />
        </div>

        <div class="d-flex">
            <div class="mx-auto mt-2">
                <CreateModalForm OnPlanCreated="LoadPlans"/>
            </div>
        </div>
</div>

@code {
    [Inject]
    private PreloadService PreloadService { get; set; } = null!;

    private IReadOnlyCollection<PlanDto> _plans = Array.Empty<PlanDto>();
    
    private async Task LoadPlans()
    {
        var userId = await TelegramAuthenticationService.GetTelegramUserId();
        
        PreloadService.Show();
        
        var plans = await PlansApi.GetPlans(userId);
        _plans = plans
            .Select(x => new PlanDto(
                x.Id,
                x.Name,
                x.Description,
                x.Reminders
                    .Select(reminder => new PlanDto.ReminderModel(reminder.Id, reminder.RemindAt))
                     .ToArray()))
            .ToArray();
        
        PreloadService.Hide();
        
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            await LoadPlans();
        }
    }

}