@page "/"
@using NightPlanner.Blazor.Presentation.ApiServices.Contracts
@using NightPlanner.Blazor.Presentation.Models
@inject ITelegramAuthenticationService TelegramAuthenticationService
<PageTitle>Home</PageTitle>

@if (_user is not null)
{
    <h1>Hello, @_user.FirstName @_user.LastName!</h1>
}
Welcome to your new app.

<textarea id="telegram-init-data" cols="35"></textarea>

<button @onclick="LoadUserId">load user</button>

@code {
    private TelegramUser? _user;

    private async Task LoadUserId()
    {
        _user = await TelegramAuthenticationService.GetTelegramUser();
    }
}