@using NightPlanner.Blazor.Presentation.Models.Challenges
<div>
    <Accordion>
        @foreach (var challenge in Challenges)
        {
            <AccordionItem Title="@challenge.Name">
                <Content>
                    @challenge.Description
                </Content>
            </AccordionItem>
        }
    </Accordion>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public required IReadOnlyCollection<ChallengeDto> Challenges { get; set; }
}